<library path="lib/libcnr_open_loop_effort_controller">
  <class name="cnr/control/OpenLoopEffortController" type="cnr::control::OpenLoopEffortController" base_class_type="controller_interface::ControllerBase">
		<description>
			Single Joint Velocity controller Open Loop by using Effort interface
		</description>
	</class>
</library>
