<library path="lib/libcnr_cartesian_velocity_controller">
  <class name="cnr/control/CartesianVelocityController"
         type="cnr::control::CartesianVelocityController"
         base_class_type="controller_interface::ControllerBase">
    <description>
      The Joint Teleop controller
    </description>
  </class>
</library>
