<library path="lib/libcnr_position_to_velocity_controller">
  <class name="itia/control/PositionToVelocityController" type="itia::control::PositionToVelocityController" base_class_type="controller_interface::ControllerBase">
    <description>
    </description>
  </class>
  <class name="itia/control/PositionToVelocityControllerFfw" type="itia::control::PositionToVelocityControllerFfw" base_class_type="controller_interface::ControllerBase">
    <description>
    </description>
  </class>
  <class name="itia/control/StateSpacePositionToVelocityController" type="itia::control::StateSpacePositionToVelocityController" base_class_type="controller_interface::ControllerBase">
    <description>
    </description>
  </class>
  <class name="itia/control/StateSpacePositionToVelocityControllerFfw" type="itia::control::StateSpacePositionToVelocityControllerFfw" base_class_type="controller_interface::ControllerBase">
    <description>
    </description>
  </class>
</library>
