<library path="lib/libcnr_joint_teleop_controller">
  <class name="cnr/control/JointTeleopController"
         type="cnr::control::JointTeleopController"
         base_class_type="controller_interface::ControllerBase">
    <description>
      The Joint Teleop controller
    </description>
  </class>
</library>
